*{
    margin: 0;
    padding: 0;

}
h1{}
h1{
    color:rgb(237, 172, 194); 
    text-align:center ;
    background-color:  rgb(255, 234, 236);
 
    
}

h4{
   background-color: rgb(255, 234, 236);
    text-align: center;
    padding: 10px;
    font-size: 15px;
    color: rgb(237, 172, 194);
    margin: auto;
    width: fit-content;
    font: 100% cursive;
    text-shadow: 0cm 0cm 0.2cm white;
    line-height: 1,5cm;
    font-weight: bold;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 
}

h5{
    color: rgb(243, 179, 179);
    text-align: center;
    font-size: 25px;
    padding: 5px;
    background-color:  rgb(243, 179, 179);
   display: block;
    margin: auto;
    width: 50%  ;
    border-radius: 8px;
    box-shadow: 3px, 10px 5px grey;
 
}
.product{
    color: rgb(249, 172, 217);
    text-align: center;
    font-size: 20px;
    padding: 5px;
    background-color:  rgb(255, 234, 236);
   display: block;
    margin: auto;
    width: 50%  ;
 
}



img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    border-radius: 20px;
}

header{
   
    padding: 20px;
    text-align: center;
    font-size: 15px;
    color: white;
    font-style: italic;
    
}


footer{
    background-color: rgb(255, 234, 236);
    text-align: center;
    padding: 10px;
    font-size: 15px;
    color: rgb(237, 172, 194);
    margin: auto;
    width: 100%;
    font: 100% cursive;
    display: inline-block;
    text-shadow: 0cm 0cm 0.2cm white;
    line-height: 1,5cm;
    font-weight: bold;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

div{
    background-color: rgb(255, 234, 236);
    text-align: center;
    padding: 10px;
    font-size: 15px;
    color: rgb(237, 172, 194);
    margin: auto;
    width: fit-content;
   
    text-shadow: 0cm 0cm 0.2cm white;
}


main{
    background-color: rgb(255, 234, 236);
    text-align: center;
    padding: 10px;
    font-size: 15px;
    color: rgb(237, 172, 194);
    margin: auto;
    width: 80%  ;
    font: 100% cursive;
    text-shadow: 0cm 0cm 0.2cm white;
    line-height: 1,5cm;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.image-box * {
    float: left;
    background-color: rgb(255, 234, 236);
    text-align: center;
    width: 100%;
    }

.image-box-left{
  
   display: inline-block;
   
}

.child-one
{
    position: sticky;
   top : 0;
    background-color: rgb(255, 234, 236);
    color:rgb(255, 255, 255);
    text-align:center ;
    width: 100%;
    
}

.foto{
    display:flex;
    justify-content: space-between;
}

.foto2{
    display:grid;
   
grid-template-columns: repeat(5, 20%);

    
}

.foto2 img:hover {
  position: fixed;        /* gör att bilden flyter över resten av sidan */
  top: 50%;               /* placerar i mitten */
  left: 50%;
  transform: translate(-50%, -50%) scale(2); 
  width: 10vw;          
  z-index: 999;         
  box-shadow: 0 0 20px rgba(0,0,0,0.5); 
  border-radius: 20px; }

.image-box img{
    width: 180px;
   
}

  

.bar ul li {
    display: inline-block;
    border: 2px solid rgb(255, 255, 255);
    text-decoration: none;
}
   
 
