*{
    margin: 0;
    padding: 0;

}

h1{
    color:rgb(237, 172, 194); 
    text-align:center ;
    background-color:  rgb(255, 234, 236);
}

h6{
    color: rgb(243, 179, 179);
    text-align: center;
    font-size: 20px;
    padding: 5px;
    background-color:  rgb(255, 234, 236);
   display: block;
    margin: auto;
    width: fit-content;
 
}



img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    border-radius: 20px;
}
header{
   
    padding: 20px;
    text-align: center;
    font-size: 15px;
    color: white;
    font-style: italic;
    
}

footer{
    background-color: rgb(255, 234, 236);
    text-align: center;
    padding: 10px;
    font-size: 15px;
    color: rgb(237, 172, 194);
    margin: auto;
    width: fit-content;
    font: 100% cursive;
    text-shadow: 0cm 0cm 0.2cm white;
    line-height: 1,5cm;
    font-weight: bold;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

div{
    background-color: rgb(255, 234, 236);
    text-align: center;
    padding: 10px;
    font-size: 15px;
    color: rgb(237, 172, 194);
    margin: auto;
    width: fit-content;
    text-transorm-decoration: underline;
    text-shadow: 0cm 0cm 0.2cm white;
}
    
 

   
  
  
   
 
